.grvsc-container {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  padding-top: 1rem;
  padding-top: var(--grvsc-padding-top, var(--grvsc-padding-v, 1rem));
  padding-bottom: 1rem;
  padding-bottom: var(--grvsc-padding-bottom, var(--grvsc-padding-v, 1rem));
  border-radius: 8px;
  border-radius: var(--grvsc-border-radius, 8px);
  font-feature-settings: normal;
  line-height: 1.4;
}

.grvsc-code {
  display: table;
}

.grvsc-line {
  display: table-row;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.grvsc-line > * {
  position: relative;
}

.grvsc-gutter-pad {
  display: table-cell;
  padding-left: 0.75rem;
  padding-left: calc(var(--grvsc-padding-left, var(--grvsc-padding-h, 1.5rem)) / 2);
}

.grvsc-gutter {
  display: table-cell;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.grvsc-gutter::before {
  content: attr(data-content);
}

.grvsc-source {
  display: table-cell;
  padding-left: 1.5rem;
  padding-left: var(--grvsc-padding-left, var(--grvsc-padding-h, 1.5rem));
  padding-right: 1.5rem;
  padding-right: var(--grvsc-padding-right, var(--grvsc-padding-h, 1.5rem));
}

.grvsc-source:empty::after {
  content: ' ';
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.grvsc-gutter + .grvsc-source {
  padding-left: 0.75rem;
  padding-left: calc(var(--grvsc-padding-left, var(--grvsc-padding-h, 1.5rem)) / 2);
}

/* Line transformer styles */

.grvsc-has-line-highlighting > .grvsc-code > .grvsc-line::before {
  content: ' ';
  position: absolute;
  width: 100%;
}

.grvsc-line-diff-add::before {
  background-color: var(--grvsc-line-diff-add-background-color, rgba(0, 255, 60, 0.2));
}

.grvsc-line-diff-del::before {
  background-color: var(--grvsc-line-diff-del-background-color, rgba(255, 0, 20, 0.2));
}

.grvsc-line-number {
  padding: 0 2px;
  text-align: right;
  opacity: 0.7;
}
