:root {
  --vscode-highlight-padding-v: 1rem;
  --vscode-highlight-padding-h: 1.5rem;
  --vscode-highlight-padding-top: var(--vscode-highlight-padding-v);
  --vscode-highlight-padding-right: var(--vscode-highlight-padding-h);
  --vscode-highlight-padding-bottom: var(--vscode-highlight-padding-v);
  --vscode-highlight-padding-left: var(--vscode-highlight-padding-h);
  --vscode-highlight-border-radius: 8px;

  --vscode-highlight-line-highlighted-background-color: transparent;
  --vscode-highlight-line-highlighted-border-width: 4px;
  --vscode-highlight-line-highlighted-border-color: transparent;
}

.vscode-highlight {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 1rem;
  padding-top: var(--vscode-highlight-padding-top);
  padding-bottom: 1rem;
  padding-bottom: var(--vscode-highlight-padding-bottom);
  border-radius: 8px;
  border-radius: var(--vscode-highlight-border-radius);
  font-feature-settings: normal;
}

.vscode-highlight-code {
  display: inline-block;
  min-width: 100%;
}

.vscode-highlight-line {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding-left: 1.5rem;
  padding-left: var(--vscode-highlight-padding-left);
  padding-right: 1.5rem;
  padding-right: var(--vscode-highlight-padding-right);
}

.vscode-highlight-line-highlighted {
  background-color: var(--vscode-highlight-line-highlighted-background-color);
  box-shadow: inset var(--vscode-highlight-line-highlighted-border-width) 0 0 0 var(--vscode-highlight-line-highlighted-border-color);
}
